/***************** my account **************/
.account-info {
    .profile-pic {
        width: 180px;
    }
}

.achievement-box {
    .icon {
        width: 56px;
        height: 56px;
        background-color: $mint-chiffon;
        &.bg-color-2 {
            background-color: $xakestari-white;
        }
        &.bg-color-3 {
            background-color: $clear-skies;
        }
        &.bg-color-4 {
            background-color: $placebo-purple;
        }
    }
}

.profile-achievements {
    gap: 32px;
    @include small-screen {
        gap: 24px;
        .achievement-box {
            width: calc(50% - 16px);
        }
    }
    @include portrait-phone {
        .achievement-box {
            width: 100%;
        }
    }
}
.account-nav-menu {
    li {
        border-top: 1px solid rgba($snow-bank, 0.4);
        a {
            display: block;
            padding: 8px 24px;
            color: $text-color;
            svg {
                path {
                    fill: $text-color;
                    transition: $transition-base;
                }
            }
            &.active {
                color: $primary;
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }
        }
    }
}

.address-book-content {
    &.border-right {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-color: rgba($snow-bank, 0.4);
            @include small-screen {
                display: none;
            }
        }
    }
}

.order-history-table {
    tr {
        vertical-align: middle;
        th, 
        td {
            padding: 8px 24px;
        }
        .thumbnail {
            img {
                width: 40px;
                height: 40px;
                background-color: $grams-hair;
                padding: 6px;
                border-radius: 50%;
            }
        }
    }
}

.profile-form {
    .file-upload {
        border: 2px dashed rgba($snow-bank, 0.5);
        padding: 50px 24px;
        position: relative;
        overflow: hidden;
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.payments-list-table {
    tr {
        vertical-align: middle;
    }
    .icon {
        width: 44px;
        height: 44px;
        background-color: $grams-hair;
    }
}

/******************* invoice *****************/
.invoice-table-sm {
    width: 300px;
}

.invoice-table {
    td, th {
        padding: 16px 24px;
    }
    .product-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 8px;
        background-color: $grams-hair;
    }
}

.footer-table {
    tr {
        background-color: $grams-hair;
        td {
            padding: 16px 24px;
        }
    }
}