.bg-primary-light {
  background-color: rgba($primary);
}

.bg-secondary-light {
  background-color: rgba($secondary, 0.1);
}

.bg-glimpse-pink {
  background-color: $glimpse-of-pink;
}

.bg-azure-mist {
  background-color: $azure-mist;
}

.bg-ambrosia {
  background-color: $ambrosia;
}

.bg-placebo-blue {
  background-color: $palcebo-blue;
}

.bg-floral-white {
  background-color: $floral-white;
}
