/**************** 404 section **************/
.section-404 {
    .frame-circle {
        left: 100px; 
        top: 50px;
    }
    .cauliflower {
        top: 40%;
        left: 18%;
    }
    .leaf {
        left: 100px;
        bottom: 100px;
    }
    .pata {
        right: 30px; 
        top: 0;
    }
    .tomato-half {
        right: -40px;
        top: 150px;
    }
    .garlic-white {
        bottom: 50px;
        right: 300px;
    }
    .tomato-slice {
        right: 60px;
        top: 70%;
    }
    .onion {
        right: 130px;
        top: 40%;
    }
}