{% include 'left_nav1.html' %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Change Password</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="/save_change_password/" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label>Current Password</label>
                        <input class="form-control" id="current" name="current" type="text"
                               value="{{password.password}}">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" id="new" name="new" type="text">
                    </div>
                    <div class="form-group">
                        <label>Re-type Password</label>
                        <input class="form-control" id="confirm_pass" name="confirm_pass" type="text">
                        <p id="message" style="color:Red;"></p>
                        <p id="message1" style="color:Green;"></p>
                    </div>


                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>

<script>
  $("#confirm_pass").keyup(function(){
  var n=document.getElementById("new").value;
  var confirm_pass=document.getElementById("confirm_pass").value;
  if(n!=confirm_pass){
  document.getElementById("message").innerHTML="Password didn't match";
  document.getElementById("message1").style.display="none";
  document.getElementById("message").style.display="block";
  }
  else{
  document.getElementById("message1").innerHTML="Password match";
  document.getElementById("message1").style.display="block";
  document.getElementById("message").style.display="none";
  }
  });

</script>
