<!DOCTYPE html>
{% load static %}
<html data-bs-theme="light" lang="en">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--meta-->
    <link href="{% static 'index/assets/img/logo_new.png' %}" rel="icon" sizes="16x16" type="image/png">

    <!--title-->
    <title>Gomart</title>

    <!--build:css-->
    <!--build:css-->
    <link href="{% static 'index/assets/css/main.css' %}" rel="stylesheet">
    <style>
    @media print {
        .exclude-from-print {
            display: none !important;
        }
    }

    </style>

    <!--invoice section start-->
    <section class="invoice-section pt-6 pb-120">
        <div class="container">
            <div class="invoice-box bg-white rounded p-4 p-sm-6" id="divName">
                <div class="row g-5 justify-content-between">
                    <div class="col-lg-6">
                        <div class="invoice-title d-flex align-items-center">
                            <h3>Invoice</h3>
                            <span class="badge rounded-pill bg-primary-light text-primary fw-medium ms-3">Placed Order</span>
                        </div>
                        <table class="invoice-table-sm">
                            <tr>
                                <td><strong>Invoice No</strong></td>
                                <td>#{{inv.invoice_number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Order ID</strong></td>
                                <td>#{{inv.orderid}}</td>
                            </tr>
                            <tr>
                                <td><strong>Date</strong></td>
                                <td>{{d}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-5 col-md-8">
                        <div class="text-lg-end">
                            <h6 class="mb-0 text-gray mt-4">LetterKenny, Co.Donegal,Ireland</h6>
                        </div>
                    </div>
                </div>
                <span class="my-6 w-100 d-block border-top"></span>
                <div class="row justify-content-between g-5">
                    <div class="col-xl-8 col-lg-7">
                        <div class="welcome-message">
                            <h4 class="mb-2">{{inv.user.first_name}}</h4>
                            <p class="mb-0">Here are your order details. We thank you for your purchase.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="shipping-address">
                            <h6 class="mb-2">Shipping Address</h6>
                            <p class="mb-0">
                                {{inv.ship_address.street_address}},{{inv.ship_address.state}},{{inv.ship_address.Eircode}}</p>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-6">
                    <table class="table invoice-table">
                        <tr>
                            <th>SR.</th>
                            <th>Products</th>
                            <th>QTY</th>
                            <th>Item Price</th>
                            <th>Amount</th>
                        </tr>
                        {% for i in inv_pdt %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="text-nowrap">
                                <span class="ms-2">{{i.product.name}} </span>
                            </td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.product.price}}</td>
                            <td>{{i.total_price}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="mt-4 table-responsive">
                    <table class="table footer-table">
                        <tr>
                            <td>
                                <strong class="text-dark d-block text-nowrap">Payment Method</strong>
                                <span>Cash on delivery</span>
                            </td>
                            <td>
                                <strong class="text-dark d-block text-nowrap">Shipping Cost</strong>
                                <span>{{inv.ship_charge}}</span>
                            </td>


                            <td>
                                <strong class="text-dark d-block text-nowrap">Total Amount</strong>
                                <span class="text-primary fw-bold">{{inv.total_after_ship}}</span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </section> <!--invoice section end-->
    <script>

    </script>
    <!--footer section start-->
    <div class="footer-curve position-relative overflow-hidden">
        <span class="position-absolute section-curve-wrapper top-0 h-100"
              data-background="assets/img/shapes/section-curve.png"></span>
    </div>


    </div>

    <!--scroll bottom to top button start-->
    <button class="scroll-top-btn">
        <i class="fa-regular fa-hand-pointer"></i>
    </button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


