{% load static %}
{% include 'left_nav1.html' %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3>98</h3>
                        <span class="widget-title1"> Total Orders <i aria-hidden="true" class="fa fa-check"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-widget-info text-right">
                        <h3>1072</h3>
                        <span class="widget-title2">orders-today</span>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>
</div>
