{% include 'left_nav.html' %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Product</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="/edit_products/{{d.id}}" method="post" enctype="multipart/form-data">{% csrf_token %}
                      <div class="form-group">
                        <label>Product Code</label>
                        <input class="form-control" name="product_code" readonly type="text" value="{{d.product_code}}">
                    </div>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input class="form-control" type="text" name="name" value="{{d.name}}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description">{{d.description}}</textarea>
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label>Country</label>-->
<!--                        <select class="form-control" name="country" id="country">-->
<!--                            <option value="{{i.id}}">Select Country</option>-->
<!--                            &lt;!&ndash; Populate options dynamically from database &ndash;&gt;-->
<!--                            {% for country in cou %}-->
<!--                                <option value="{{ country.id }}">{{ country.name }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->
                      <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" type="text" name="price" id="price" value="{{d.price}}">
                    </div>
                    <div class="form-group">
                        <label>Tax Rate</label>
                        <select class="form-control" name="tax_rate" id="tax_rate">
                            <option>{{d.tax_rate}}</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tax amount</label>
                        <input class="form-control" type="text" name="tax_amount" id="tax_amount" value="{{d.tax_amount}}">
                    </div>
                    <div class="form-group">
                        <label>Gross total</label>
                        <input class="form-control" type="text" name="gross_total" id="gross_total" value="{{d.gross_total}}">
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control" name="brand">
                            <option value="{{d.brand.id}}">{{d.brand.name}}</option>
                            {% for brand in bran %}
                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" name="category">
                            <option value="{{d.category.id}}">{{d.category.name}}</option>
                            {% for category in cat %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Weight / Product</label>
                        <input class="form-control" name="weight" type="number" value="{{d.product_weight}}">
                         <select class="form-control" name="weight_measure">
                             <option>{{d.product_measure}}</option>
                             <option>Kg</option>
                             <option>Nos</option>
                             <option>gm</option>
                             <option>Liter</option>
                         </select>
                    </div>
                    <div class="form-group">
                        <label>Opening Stock</label>
                        <input class="form-control" name="opening_stock" type="text" value="{{d.opening_stock}}">
                    </div>
                    <div class="form-group">
                        <label>Current Stock</label>
                        <input class="form-control" name="current_stock" type="text" value="{{d.current_stock}}">
                    </div>

                    <div class="form-group">
                        <p>Currently <img height="80" src="{{d.image}}" width="70"></p>
                        <label>Change Image</label>
                        <input class="form-control" type="file" name="image">
                    </div>
                    <div class="form-group">
                        <label class="display-block">Status</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="product_active" value="Active" checked>
                            <label class="form-check-label" for="product_active">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="product_inactive" value="Inactive">
                            <label class="form-check-label" for="product_inactive">Inactive</label>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Edit Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="notification-box">
        <!-- Message notifications list -->
    </div>

</div>
<script>
    $("#tax_rate").change(function(){
    var price= $("#price").val();
    vatAmount = (23 / 100) * price;
    formattedVatAmount = vatAmount.toFixed(2);

    $("#tax_amount").val(formattedVatAmount);
    $("#gross_total").val(parseFloat(formattedVatAmount) + parseInt(price));
    })
</script>
