<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">

<head>

    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta-->
    <meta name="description" content="Grostore Grocery  eCommerce html template. Multivendor responsive eCommerce template">
    <meta name="author" content="ThemeTags">
    <meta name="keywords" content="Grostore Grocery  ecommerce, admin template, online shop, e-commerce, ecommerce template, marketplace, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <!--favicon icon-->
    <link rel="icon" href="{% static 'index/assets/img/logo_new.png' %}" type="image/png" sizes="16x16">

    <!--title-->
    <title>Gomart -- Login</title>

    <!--build:css-->
    <link rel="stylesheet" href="{% static 'index/assets/css/style.css' %}">
         <style>
        .alert {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #FF0000;
            background-color:white;
            border-color: #ebccd1;
            transition: opacity 0.5s ease;
            opacity: 1;
        }

        .alert.fade {
            opacity: 0;
        }
    </style>
    <!-- endbuild -->
</head>

<body>

    <!--preloader start-->
    <div id="preloader">
        <img src="{% static 'index/assets/img/preloader_new.gif' %}" alt="preloader" width="450" class="img-fluid">
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--login section start-->
        <section class="login-section py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-12 tt-login-img" data-background="{% static 'index/assets/img/shapes/login-banner.png' %}"></div>
                    <div class="col-lg-5 col-12 bg-white d-flex p-0 tt-login-col shadow">
                        <form class="tt-login-form-wrap p-3 p-md-6 p-lg-6 py-7 w-100" action="/check_login/" method="POST">{% csrf_token %}
                            <div class="mb-7">
                                <a href="index.html">
                                    <img src="{% static 'index/assets/img/gomart_logo.png' %}" alt="logo" width="164">
                                </a>
                            </div>
                            <h2 class="mb-4 h3">Hey there! <br>Welcome back <span class="text-secondary">Gomart</span>
                            </h2>
                            {% if messages %}
                            {% for message in messages %}
                                <p class="alert">{{ message }}</p>
                            {% endfor %}
                            {% endif %}

                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <div class="input-field">
                                        <label class="fw-bold text-dark fs-sm mb-1">Email</label>
                                        <input type="email" placeholder="Enter your Email" class="theme-input" name="email" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-field check-password">
                                        <label class="fw-bold text-dark fs-sm mb-1">Password</label>
                                        <div class="check-password">
                                            <input type="password" placeholder="Password" class="theme-input" name="password" required>
                                            <span class="eye eye-icon">
                 <i class="fa-solid fa-eye"></i>
               </span>
                                            <span class="eye eye-slash">
                 <i class="fa-solid fa-eye-slash"></i>
               </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <div class="checkbox d-inline-flex align-items-center gap-2">
                                    <div class="theme-checkbox flex-shrink-0">
                                        <input type="checkbox" id="save-password">

                                    </div>
                                </div>
                                <a href="/forgot_password/" class="fs-sm">Forgot Password</a>
                            </div>
                            <div class="row g-4 mt-4">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary w-100">Sign In</button>
                                </div>

                            </div>
                            <p class="mb-0 fs-xs mt-4">Don't have an Account? <a href="/signup">Sign Up</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--login section end-->

    </div>
    <!--main content wrapper end-->


    <!--scroll bottom to top button start-->
    <button class="scroll-top-btn">
        <i class="fa-regular fa-hand-pointer"></i>
    </button>
    <!--scroll bottom to top button end-->
    <!--build:js-->
    <script src="{% static 'index/assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/jquery-ui.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/simplebar.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/parallax-scroll.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/isotop.pkgd.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/countdown.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/range-slider.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/waypoints.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/counterup.min.js' %}"></script>
    <script src="{% static 'index/assets/js/vendors/typer.js' %}"></script>
    <script src="{% static 'index/assets/js/app.js' %}"></script>

     <script>
        // Add fade-out effect to alert messages after some time
        window.addEventListener('DOMContentLoaded', function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                setTimeout(function() {
                    alert.classList.add('fade');
                }, 4000); // Adjust the time as needed (in milliseconds)
            });
        });
    </script>
    <!--endbuild-->
</body>

</html>